@font-face {
    font-family: 'asinastra';
    src: url(fonts/asinastra-Regular.ttf);
   }
@font-face {
    font-family: 'Orbitron-Regular';
    src: url(fonts/Orbitron-Regular.ttf);
   }
@font-face {
    font-family: 'Nunito-Italic';
    src: url(fonts/Nunito-Italic.ttf);
   }

@font-face {
    font-family: 'Nunito-Regular';
    src: url(fonts/Nunito-Regular.ttf);
   }
@font-face {
    font-family: 'VT323';
    src: url(fonts/VT323.ttf);
   }
@font-face {
    font-family: 'Playball';
    src: url(fonts/Playball.ttf);
   }
@font-face {
    font-family: 'knewave';
    src: url(fonts/knewave.ttf);
   }
@font-face {
    font-family: 'knewave-outline';
    src: url(fonts/knewave-outline.ttf);
   }
@font-face {
    font-family: 'Miltown';
    src: url(fonts/Miltown.ttf);
   }
@font-face {
    font-family: 'RalewayDots';
    src: url(fonts/RalewayDots.ttf);
   }
@font-face {
    font-family: 'VastShadow';
    src: url(fonts/VastShadow.ttf);
   }
@font-face {
    font-family: 'RobotoSlab';
    src: url(fonts/RobotoSlab.ttf);
   }
@font-face {
    font-family: 'ReenieBeanie';
    src: url(fonts/ReenieBeanie.ttf);
   }
@font-face {
    font-family: 'LoveYaLikeASister';
    src: url(fonts/LoveYaLikeASister.ttf);
   }
@font-face {
    font-family: 'Lobster';
    src: url(fonts/Lobster.ttf);
   }
@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu.ttf);
   }
@font-face {
    font-family: 'BrushieBrushie';
    src: url(fonts/BrushieBrushie.ttf);
   }
@font-face {
    font-family: 'Astakhov-Dished-B-Serif';
    src: url(fonts/Astakhov-Dished-B-Serif.ttf);
   }
@font-face {
    font-family: 'Zamenhof-inverse';
    src: url(fonts/Zamenhof-inverse.otf);
   }
@font-face {
    font-family: 'Zamenhof-outline';
    src: url(fonts/Zamenhof-outline.otf);
   }
@font-face {
    font-family: 'Astakhov-Dished-B2-Serif';
    src: url(fonts/Astakhov-Dished-B2-Serif.ttf);
   }
@font-face {
    font-family: 'Capture-it-2';
    src: url(fonts/Capture-it-2.otf);
   }

/* @https://fonts.googleapis.com/css?family=Roboto+Mono */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhHq3-OXg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.ttf');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.ttf');
}
