* {
	box-sizing: border-box;
}

html, body {
	border: 0;
	font-family: 'Roboto Mono', monospace;
	height: 100%;
	margin: 0px;
	width: 100%;
}

body {
	background-color: #212121;
	background-image: url(bg.jpg);
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

h1 {
	color: #555;
	font-size: 25px;
}

h2 {
	color: #555;
	font-size: 15px;
}

#background_date, #background_clock, #background_bgcolor {
	position: absolute;
	padding: 25px;
	cursor: default;
}

.background_clock_details {
	display: inline-block;
	position: relative;
}

#background_am_pm, #background_milliseconds {
	position: absolute;
	text-transform: uppercase;
	display: block;
}

#background_milliseconds {
	bottom: 0;
}

#background_canvas {
	z-index: -1;
}

#clock_container {
	position: fixed;
	right: 20vh;
	top: 20vh;
	transform: scale(0.5);
}

.clock_day-name-dial, .clock_month-dial, .clock_day-dial {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.clock_head {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.clock_center-preview span, .clock_hand-container, .clock_day-name-preview span, .clock_day-name-text span, .clock_month-preview span, .clock_month-text span, .clock_day-preview span, .clock_day-text span {
	text-align: center;
	transform-origin: center center;
}

.clock_center-dial {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
	transition: all 0.5s;
	width: 150px;
	height: 150px;
	background-color: #202020;
	border-radius: 50%;
	color: #000;
	box-shadow: 0px 2px 2px #000;
	cursor: pointer;
	overflow: hidden;
}

.clock_center-preview span {
	position: absolute;
	top: 0%;
	left: calc(50% - 12.5px);
	height: 150px;
	width: 25px;
}

.clock_center-preview {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_center-preview .char1 {
	transform: rotate(-40deg);
}

.clock_center-preview .char2 {
	transform: rotate(-20deg);
}

.clock_center-preview .char3 {
	transform: rotate(0deg);
}

.clock_center-preview .char4 {
	transform: rotate(20deg);
}

.clock_center-preview .char5 {
	transform: rotate(40deg);
}

.clock_center-preview .char6 {
	transform: rotate(60deg);
}

.clock_head {
	width: 50px;
	height: 50px;
	background: #FFF;
	border-radius: 50%;
}

.clock_torso {
	position: relative;
	top: calc(50% - 20px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	background: #FFF;
	border-radius: 50%;
}

.clock_hand-container {
	position: absolute;
	top: 0%;
	left: calc(50% - 12.5px);
	opacity: 0;
	filter: alpha(opacity=0);
	width: 25px;
	height: 150px;
	transform-origin: center center;
}

.clock_hour-hand {
	width: 10px;
	height: 50px;
	position: relative;
	top: calc(50% - 45px);
	left: calc(50% - 5px);
	transition: all 0.5s;
	background: #FFF;
	border-radius: 5px;
}

.clock_minute-hand {
	width: 10px;
	height: 70px;
	position: relative;
	top: calc(50% - 65px);
	left: calc(50% - 5px);
	background: #CCC;
	border-radius: 5px;
}

.clock_second-hand {
	width: 2px;
	height: 70px;
	position: relative;
	top: calc(50% - 69px);
	left: calc(50% - 1px);
	background: #AAA;
	border-radius: 1px;
}

.clock_day-name-dial {
	width: 250px;
	height: 250px;
	transition: all 0.5s;
}

.clock_day-name-preview span {
	position: absolute;
	top: calc(-25% - 5px);
	left: calc(50% - 12.5px);
	height: 250px;
	width: 25px;
}

.clock_day-name-preview {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_day-name-preview .char1 {
	transform: rotate(-35deg);
}

.clock_day-name-preview .char2 {
	transform: rotate(-25deg);
}

.clock_day-name-preview .char3 {
	transform: rotate(-15deg);
}

.clock_day-name-preview .char4 {
	transform: rotate(-5deg);
}

.clock_day-name-preview .char5 {
	transform: rotate(5deg);
}

.clock_day-name-preview .char6 {
	transform: rotate(15deg);
}

.clock_day-name-preview .char7 {
	transform: rotate(25deg);
}

.clock_day-name-preview .char8 {
	transform: rotate(35deg);
}

.clock_day-name-preview .char9 {
	transform: rotate(45deg);
}

.clock_day-name-text span {
	position: absolute;
	top: calc(-25% + 5px);
	left: calc(50% - 6px);
	height: 232px;
	width: 12px;
}

.clock_day-name-text {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_day-name-text .char1 {
	transform: rotate(-125.3571428571deg);
}

.clock_day-name-text .char2 {
	transform: rotate(-115.7142857143deg);
}

.clock_day-name-text .char3 {
	transform: rotate(-106.0714285714deg);
}

.clock_day-name-text .char4 {
	transform: rotate(-96.4285714286deg);
}

.clock_day-name-text .char5 {
	transform: rotate(-86.7857142857deg);
}

.clock_day-name-text .char6 {
	transform: rotate(-77.1428571429deg);
}

.clock_day-name-text .char7 {
	transform: rotate(-67.5deg);
}

.clock_day-name-text .char8 {
	transform: rotate(-57.8571428571deg);
}

.clock_day-name-text .char9 {
	transform: rotate(-48.2142857143deg);
}

.clock_day-name-text .char10 {
	transform: rotate(-38.5714285714deg);
}

.clock_day-name-text .char11 {
	transform: rotate(-28.9285714286deg);
}

.clock_day-name-text .char12 {
	transform: rotate(-19.2857142857deg);
}

.clock_day-name-text .char13 {
	transform: rotate(-9.6428571429deg);
}

.clock_day-name-text .char14 {
	transform: rotate(0deg);
}

.clock_day-name-text .char15 {
	transform: rotate(9.6428571429deg);
}

.clock_day-name-text .char16 {
	transform: rotate(19.2857142857deg);
}

.clock_day-name-text .char17 {
	transform: rotate(28.9285714286deg);
}

.clock_day-name-text .char18 {
	transform: rotate(38.5714285714deg);
}

.clock_day-name-text .char19 {
	transform: rotate(48.2142857143deg);
}

.clock_day-name-text .char20 {
	transform: rotate(57.8571428571deg);
}

.clock_day-name-text .char21 {
	transform: rotate(67.5deg);
}

.clock_day-name-text .char22 {
	transform: rotate(77.1428571429deg);
}

.clock_day-name-text .char23 {
	transform: rotate(86.7857142857deg);
}

.clock_day-name-text .char24 {
	transform: rotate(96.4285714286deg);
}

.clock_day-name-text .char25 {
	transform: rotate(106.0714285714deg);
}

.clock_day-name-text .char26 {
	transform: rotate(115.7142857143deg);
}

.clock_day-name-text .char27 {
	transform: rotate(125.3571428571deg);
}

.clock_day-name-text .char28 {
	transform: rotate(135deg);
}

.clock_month-dial {
	width: 350px;
	height: 350px;
	transition: all 0.5s;
}

.clock_month-preview span {
	position: absolute;
	top: calc(-25% + 20px);
	left: calc(50% - 12.5px);
	height: 350px;
	width: 25px;
}

.clock_month-preview {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_month-preview .char1 {
	transform: rotate(-30deg);
}

.clock_month-preview .char2 {
	transform: rotate(-15deg);
}

.clock_month-preview .char3 {
	transform: rotate(0deg);
}

.clock_month-preview .char4 {
	transform: rotate(15deg);
}

.clock_month-preview .char5 {
	transform: rotate(30deg);
}

.clock_month-preview .char6 {
	transform: rotate(45deg);
}

.clock_month-text span {
	position: absolute;
	top: calc(-25% + 30px);
	left: calc(50% - 6px);
	height: 332px;
	width: 12px;
}

.clock_month-text {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_month-text .char1 {
	transform: rotate(-129.375deg);
}

.clock_month-text .char2 {
	transform: rotate(-123.75deg);
}

.clock_month-text .char3 {
	transform: rotate(-118.125deg);
}

.clock_month-text .char4 {
	transform: rotate(-112.5deg);
}

.clock_month-text .char5 {
	transform: rotate(-106.875deg);
}

.clock_month-text .char6 {
	transform: rotate(-101.25deg);
}

.clock_month-text .char7 {
	transform: rotate(-95.625deg);
}

.clock_month-text .char8 {
	transform: rotate(-90deg);
}

.clock_month-text .char9 {
	transform: rotate(-84.375deg);
}

.clock_month-text .char10 {
	transform: rotate(-78.75deg);
}

.clock_month-text .char11 {
	transform: rotate(-73.125deg);
}

.clock_month-text .char12 {
	transform: rotate(-67.5deg);
}

.clock_month-text .char13 {
	transform: rotate(-61.875deg);
}

.clock_month-text .char14 {
	transform: rotate(-56.25deg);
}

.clock_month-text .char15 {
	transform: rotate(-50.625deg);
}

.clock_month-text .char16 {
	transform: rotate(-45deg);
}

.clock_month-text .char17 {
	transform: rotate(-39.375deg);
}

.clock_month-text .char18 {
	transform: rotate(-33.75deg);
}

.clock_month-text .char19 {
	transform: rotate(-28.125deg);
}

.clock_month-text .char20 {
	transform: rotate(-22.5deg);
}

.clock_month-text .char21 {
	transform: rotate(-16.875deg);
}

.clock_month-text .char22 {
	transform: rotate(-11.25deg);
}

.clock_month-text .char23 {
	transform: rotate(-5.625deg);
}

.clock_month-text .char24 {
	transform: rotate(0deg);
}

.clock_month-text .char25 {
	transform: rotate(5.625deg);
}

.clock_month-text .char26 {
	transform: rotate(11.25deg);
}

.clock_month-text .char27 {
	transform: rotate(16.875deg);
}

.clock_month-text .char28 {
	transform: rotate(22.5deg);
}

.clock_month-text .char29 {
	transform: rotate(28.125deg);
}

.clock_month-text .char30 {
	transform: rotate(33.75deg);
}

.clock_month-text .char31 {
	transform: rotate(39.375deg);
}

.clock_month-text .char32 {
	transform: rotate(45deg);
}

.clock_month-text .char33 {
	transform: rotate(50.625deg);
}

.clock_month-text .char34 {
	transform: rotate(56.25deg);
}

.clock_month-text .char35 {
	transform: rotate(61.875deg);
}

.clock_month-text .char36 {
	transform: rotate(67.5deg);
}

.clock_month-text .char37 {
	transform: rotate(73.125deg);
}

.clock_month-text .char38 {
	transform: rotate(78.75deg);
}

.clock_month-text .char39 {
	transform: rotate(84.375deg);
}

.clock_month-text .char40 {
	transform: rotate(90deg);
}

.clock_month-text .char41 {
	transform: rotate(95.625deg);
}

.clock_month-text .char42 {
	transform: rotate(101.25deg);
}

.clock_month-text .char43 {
	transform: rotate(106.875deg);
}

.clock_month-text .char44 {
	transform: rotate(112.5deg);
}

.clock_month-text .char45 {
	transform: rotate(118.125deg);
}

.clock_month-text .char46 {
	transform: rotate(123.75deg);
}

.clock_month-text .char47 {
	transform: rotate(129.375deg);
}

.clock_month-text .char48 {
	transform: rotate(135deg);
}

.clock_day-dial {
	width: 450px;
	height: 450px;
	transition: all 0.5s;
}

.clock_day-preview span {
	position: absolute;
	top: calc(-25% + 45px);
	left: calc(50% - 12.5px);
	height: 450px;
	width: 25px;
}

.clock_day-preview {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_day-preview .char1 {
	transform: rotate(-22.5deg);
}

.clock_day-preview .char2 {
	transform: rotate(0deg);
}

.clock_day-preview .char3 {
	transform: rotate(22.5deg);
}

.clock_day-preview .char4 {
	transform: rotate(45deg);
}

.clock_day-text span {
	position: absolute;
	top: calc(-25% + 55px);
	left: calc(50% - 6px);
	height: 432px;
	width: 12px;
}

.clock_day-text {
	opacity: 0;
	filter: alpha(opacity=0);
}

.clock_day-text .char1 {
	transform: rotate(-132.0967741935deg);
}

.clock_day-text .char2 {
	transform: rotate(-129.1935483871deg);
}

.clock_day-text .char3 {
	transform: rotate(-126.2903225806deg);
}

.clock_day-text .char4 {
	transform: rotate(-123.3870967742deg);
}

.clock_day-text .char5 {
	transform: rotate(-120.4838709677deg);
}

.clock_day-text .char6 {
	transform: rotate(-117.5806451613deg);
}

.clock_day-text .char7 {
	transform: rotate(-114.6774193548deg);
}

.clock_day-text .char8 {
	transform: rotate(-111.7741935484deg);
}

.clock_day-text .char9 {
	transform: rotate(-108.8709677419deg);
}

.clock_day-text .char10 {
	transform: rotate(-105.9677419355deg);
}

.clock_day-text .char11 {
	transform: rotate(-103.064516129deg);
}

.clock_day-text .char12 {
	transform: rotate(-100.1612903226deg);
}

.clock_day-text .char13 {
	transform: rotate(-97.2580645161deg);
}

.clock_day-text .char14 {
	transform: rotate(-94.3548387097deg);
}

.clock_day-text .char15 {
	transform: rotate(-91.4516129032deg);
}

.clock_day-text .char16 {
	transform: rotate(-88.5483870968deg);
}

.clock_day-text .char17 {
	transform: rotate(-85.6451612903deg);
}

.clock_day-text .char18 {
	transform: rotate(-82.7419354839deg);
}

.clock_day-text .char19 {
	transform: rotate(-79.8387096774deg);
}

.clock_day-text .char20 {
	transform: rotate(-76.935483871deg);
}

.clock_day-text .char21 {
	transform: rotate(-74.0322580645deg);
}

.clock_day-text .char22 {
	transform: rotate(-71.1290322581deg);
}

.clock_day-text .char23 {
	transform: rotate(-68.2258064516deg);
}

.clock_day-text .char24 {
	transform: rotate(-65.3225806452deg);
}

.clock_day-text .char25 {
	transform: rotate(-62.4193548387deg);
}

.clock_day-text .char26 {
	transform: rotate(-59.5161290323deg);
}

.clock_day-text .char27 {
	transform: rotate(-56.6129032258deg);
}

.clock_day-text .char28 {
	transform: rotate(-53.7096774194deg);
}

.clock_day-text .char29 {
	transform: rotate(-50.8064516129deg);
}

.clock_day-text .char30 {
	transform: rotate(-47.9032258065deg);
}

.clock_day-text .char31 {
	transform: rotate(-45deg);
}

.clock_day-text .char32 {
	transform: rotate(-42.0967741935deg);
}

.clock_day-text .char33 {
	transform: rotate(-39.1935483871deg);
}

.clock_day-text .char34 {
	transform: rotate(-36.2903225806deg);
}

.clock_day-text .char35 {
	transform: rotate(-33.3870967742deg);
}

.clock_day-text .char36 {
	transform: rotate(-30.4838709677deg);
}

.clock_day-text .char37 {
	transform: rotate(-27.5806451613deg);
}

.clock_day-text .char38 {
	transform: rotate(-24.6774193548deg);
}

.clock_day-text .char39 {
	transform: rotate(-21.7741935484deg);
}

.clock_day-text .char40 {
	transform: rotate(-18.8709677419deg);
}

.clock_day-text .char41 {
	transform: rotate(-15.9677419355deg);
}

.clock_day-text .char42 {
	transform: rotate(-13.064516129deg);
}

.clock_day-text .char43 {
	transform: rotate(-10.1612903226deg);
}

.clock_day-text .char44 {
	transform: rotate(-7.2580645161deg);
}

.clock_day-text .char45 {
	transform: rotate(-4.3548387097deg);
}

.clock_day-text .char46 {
	transform: rotate(-1.4516129032deg);
}

.clock_day-text .char47 {
	transform: rotate(1.4516129032deg);
}

.clock_day-text .char48 {
	transform: rotate(4.3548387097deg);
}

.clock_day-text .char49 {
	transform: rotate(7.2580645161deg);
}

.clock_day-text .char50 {
	transform: rotate(10.1612903226deg);
}

.clock_day-text .char51 {
	transform: rotate(13.064516129deg);
}

.clock_day-text .char52 {
	transform: rotate(15.9677419355deg);
}

.clock_day-text .char53 {
	transform: rotate(18.8709677419deg);
}

.clock_day-text .char54 {
	transform: rotate(21.7741935484deg);
}

.clock_day-text .char55 {
	transform: rotate(24.6774193548deg);
}

.clock_day-text .char56 {
	transform: rotate(27.5806451613deg);
}

.clock_day-text .char57 {
	transform: rotate(30.4838709677deg);
}

.clock_day-text .char58 {
	transform: rotate(33.3870967742deg);
}

.clock_day-text .char59 {
	transform: rotate(36.2903225806deg);
}

.clock_day-text .char60 {
	transform: rotate(39.1935483871deg);
}

.clock_day-text .char61 {
	transform: rotate(42.0967741935deg);
}

.clock_day-text .char62 {
	transform: rotate(45deg);
}

.clock_day-text .char63 {
	transform: rotate(47.9032258065deg);
}

.clock_day-text .char64 {
	transform: rotate(50.8064516129deg);
}

.clock_day-text .char65 {
	transform: rotate(53.7096774194deg);
}

.clock_day-text .char66 {
	transform: rotate(56.6129032258deg);
}

.clock_day-text .char67 {
	transform: rotate(59.5161290323deg);
}

.clock_day-text .char68 {
	transform: rotate(62.4193548387deg);
}

.clock_day-text .char69 {
	transform: rotate(65.3225806452deg);
}

.clock_day-text .char70 {
	transform: rotate(68.2258064516deg);
}

.clock_day-text .char71 {
	transform: rotate(71.1290322581deg);
}

.clock_day-text .char72 {
	transform: rotate(74.0322580645deg);
}

.clock_day-text .char73 {
	transform: rotate(76.935483871deg);
}

.clock_day-text .char74 {
	transform: rotate(79.8387096774deg);
}

.clock_day-text .char75 {
	transform: rotate(82.7419354839deg);
}

.clock_day-text .char76 {
	transform: rotate(85.6451612903deg);
}

.clock_day-text .char77 {
	transform: rotate(88.5483870968deg);
}

.clock_day-text .char78 {
	transform: rotate(91.4516129032deg);
}

.clock_day-text .char79 {
	transform: rotate(94.3548387097deg);
}

.clock_day-text .char80 {
	transform: rotate(97.2580645161deg);
}

.clock_day-text .char81 {
	transform: rotate(100.1612903226deg);
}

.clock_day-text .char82 {
	transform: rotate(103.064516129deg);
}

.clock_day-text .char83 {
	transform: rotate(105.9677419355deg);
}

.clock_day-text .char84 {
	transform: rotate(108.8709677419deg);
}

.clock_day-text .char85 {
	transform: rotate(111.7741935484deg);
}

.clock_day-text .char86 {
	transform: rotate(114.6774193548deg);
}

.clock_day-text .char87 {
	transform: rotate(117.5806451613deg);
}

.clock_day-text .char88 {
	transform: rotate(120.4838709677deg);
}

.clock_day-text .char89 {
	transform: rotate(123.3870967742deg);
}

.clock_day-text .char90 {
	transform: rotate(126.2903225806deg);
}

.clock_day-text .char91 {
	transform: rotate(129.1935483871deg);
}

.clock_day-text .char92 {
	transform: rotate(132.0967741935deg);
}

.clock_day-text .char93 {
	transform: rotate(135deg);
}

.clock_ring-back {
	opacity: 0.1;
	filter: alpha(opacity=10);
	width: 100%;
	height: 100%;
	border: solid 10px transparent;
	border-radius: 50%;
}

.clock_ring-back:before {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	border-radius: 50%;
	border: solid 35px #FFFFFF;
	content: " ";
}

.clock_ring {
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	border: solid 45px #202020;
	border-radius: 50%;
	border-bottom-color: transparent;
	box-shadow: 0px -2px 2px #000;
}

#clock_steps {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(80% - 100px);
}

#music_canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    background-repeat: none;
    background-size: 100% 100%;
}
